/* screen - add-funds */

.add-funds {
  align-items: center;
  background-color: #2b6777;
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  padding: 26px 0;
  width: 375px;
}

.add-funds .overlap-group2 {
  height: 466px;
  position: relative;
  width: 807px;
}

.add-funds .logo {
  height: 172px;
  left: 181px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 238px;
}

.add-funds .payment {
  align-items: flex-start;
  display: flex;
  height: 322px;
  left: 0;
  padding: 65px 254.8px;
  position: absolute;
  top: 144px;
  width: 807px;
}

.add-funds .overlap-group1 {
  align-items: flex-end;
  background-color: #8688bc;
  border-radius: 12.99px;
  box-shadow: 0px 5px 20px #00000026;
  display: flex;
  flex-direction: column;
  min-height: 181px;
  padding: 30.5px 26.2px;
  width: 292px;
}

.add-funds .visa {
  align-self: flex-start;
  height: 18px;
  margin-left: 5.07px;
  width: 52px;
}

.add-funds .card-number {
  align-items: flex-start;
  display: flex;
  height: 30px;
  margin-top: 27px;
  width: 234px;
}

.add-funds .text-1 {
  letter-spacing: 1.66px;
  min-height: 28px;
  opacity: 0.5;
  text-align: right;
  width: 40px;
}

.add-funds .card-number-item {
  letter-spacing: 1.66px;
  margin-left: 25px;
  min-height: 28px;
  opacity: 0.5;
  text-align: right;
  width: 40px;
}

.add-funds .number {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-graphik-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 1.04px;
  margin-left: 27px;
  margin-top: 3.57px;
  min-height: 17px;
  text-align: right;
  width: 39px;
}

.add-funds .flex-row {
  align-items: flex-start;
  display: flex;
  margin-top: 16px;
  min-width: 234px;
}

.add-funds .holder {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 27px;
  overflow: hidden;
  width: 98px;
}

.add-funds .card-holder {
  color: var(--white);
  font-family: var(--font-family-graphik-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 11px;
  opacity: 0.5;
  width: 58px;
}

.add-funds .aycan-doganlar {
  color: var(--white);
  font-family: var(--font-family-graphik-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 14px;
  width: 98px;
}

.add-funds .expires {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 27px;
  margin-left: 102px;
  overflow: hidden;
  width: 35px;
}

.add-funds .expires-1 {
  color: var(--white);
  font-family: var(--font-family-graphik-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 11px;
  opacity: 0.5;
  text-align: right;
  width: 35px;
}

.add-funds .text-3 {
  color: var(--white);
  font-family: var(--font-family-graphik-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 1.02px;
  margin-top: 3px;
  min-height: 14px;
  text-align: right;
  width: 34px;
}

.add-funds .x0 {
  background-color: transparent;
  border: 0;
  color: var(--mercury);
  font-family: var(--font-family-ubuntu);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  height: 46px;
  letter-spacing: 0;
  margin-top: 16px;
  padding: 0;
  text-align: center;
  width: 233px;
}

.add-funds .x0::placeholder {
  color: #e5e5e599;
}

.add-funds .qty-divider {
  height: 3px;
  margin-left: 1.0px;
  margin-top: 14px;
  width: 254px;
}

.add-funds .amount {
  color: var(--mercury);
  font-family: var(--font-family-ubuntu);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 3.0px;
  margin-top: 8px;
  min-height: 36px;
  text-align: center;
  width: 110px;
}

.add-funds .place-button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 3.0px;
  margin-top: 64px;
  min-width: 304px;
}

.add-funds .overlap-group {
  align-items: center;
  background-color: #21bf73;
  border-radius: 12px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  min-width: 302px;
  padding: 0 27.2px;
}

.add-funds .title {
  color: #ffffffd4;
  font-family: var(--font-family-ubuntu);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  height: 46px;
  letter-spacing: 0;
  text-align: center;
  width: 246px;
}
