/* screen - signin-page */

.signin-page {
  background-color: var(--casal);
  height: 926px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 428px;
}

.signin-page .login-button-CMFGHq {
  background-color: transparent;
  cursor: pointer;
  height: 60px;
  left: 50%;
  position: fixed;
  top: 517px;
  width: 359px;
  margin: 0 0 0 -178px;
}

.signin-page .rectangle-32-uJP57X {
  background-color: #21bf73;
  border-radius: 8px;
  box-shadow: 0px 2px 4px #00000013;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 357px;
}


.signin-page .login-uJP57X {
  background-color: transparent;
  color: #ffffff;
  font-family: var(--font-family-ubuntu);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: 13px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 237px;
}

.signin-page .login-CMFGHq {
  background-color: transparent;
  height: 86px;
  left: 50%;
  overflow: hidden;
  position: fixed;
  top: 264px;
  width: 357px;
  margin: 0 0 0 -178px;
}

.signin-page .x-nzhDto {
  background-color: transparent;
  color: var(--botticelli);
  font-family: var(--font-family-ubuntu);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 33px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 357px;
}

.signin-page .text-block-nzhDto {
  background-color: var(--botticelli);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 35px;
  width: 357px;
}

.signin-page .text-M9p4kD {
  background-color: transparent;
  border: 0;
  color: var(--casal);
  font-family: var(--font-family-ubuntu);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: 12px;
  letter-spacing: 0.16px;
  line-height: 24px;
  mix-blend-mode: normal;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 333px;
}

.signin-page .text-M9p4kD::placeholder {
  color: #2b677799;
}

.signin-page .password-CMFGHq {
  background-color: transparent;
  height: 86px;
  left: 50%;
  overflow: hidden;
  position: fixed;
  top: 367px;
  width: 357px;
  margin: 0 0 0 -178px;
}

.signin-page .x-DIKwkA {
  background-color: transparent;
  color: var(--botticelli);
  font-family: var(--font-family-ubuntu);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 33px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 357px;
}

.signin-page .text-block-DIKwkA {
  background-color: var(--botticelli);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 35px;
  width: 357px;
}

.signin-page .text-AzizM6 {
  background-color: transparent;
  border: 0;
  color: var(--casal);
  font-family: var(--font-family-ubuntu);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: 12px;
  letter-spacing: 0.16px;
  line-height: 24px;
  mix-blend-mode: normal;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 333px;
}

.signin-page .text-AzizM6::placeholder {
  color: #2b677799;
}

.signin-page .forgot-password-CMFGHq {
  background-color: transparent;
  color: var(--botticelli);
  font-family: var(--font-family-ubuntu);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 29px;
  left: 50%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: fixed;
  text-align: center;
  text-decoration: underline;
  top: 470px;
  width: 210px;
  margin: 0 0 0 -19px;
}

.signin-page .dont-have-an-account-signup-CMFGHq {
  background-color: transparent;
  height: 31px;
  left: 50%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: fixed;
  text-align: center;
  top: 595px;
  width: 350px;
  margin: 0 0 0 -175px;
}

.signin-page .span0-kzLb1q {
  color: var(--botticelli);
}

.signin-page .span1-kzLb1q{
  text-decoration: underline;
  color: var(--botticelli);
}

.signin-page .logo-CMFGHq {
  background-color: transparent;
  height: 172px;
  left: 50%;
  mix-blend-mode: normal;
  object-fit: cover;
  position: fixed;
  top: 26px;
  width: 238px;
  margin: 0 0 0 -245px;
}
